
<div class="row rt-pcl-box" center>
<div class=col-md-3></div>
	<div class="rt-pcl-btn-box col-md-3 text-center"  ng-click="showMileStoneForm()"> RT PLC MILESTONE
        <!-- 
<a href="javascript:void(0)" style="cursor: pointer;
text-decoration: none;
outline: none !important;" ng-click="showMileStoneForm()">RT PLC MILESTONE</a>
 -->
    </div>

<div class="rt-pcl-btn-box col-md-3 text-center" ng-click="showNotificationForm()">RT PLC NOTIFICATION
       <!-- 
 <a href="javascript:void(0)" style="cursor: pointer;
text-decoration: none;
outline: none !important;" ng-click="showNotificationForm()">RT PLC NOTIFICATION</a>
 -->
    </div>
<div class=col-md-3></div>



</div>


<!--
<div class="col-md-8 testRepositoryBox" >
    <div class="rt-test-repository-box col-md-4" ng-repeat="projectlifecycle in vmplc.projectlifecycleBtns">
        <a href="javascript:void(0)" ui-sref="{{projectlifecycle.link}}">
            {{ projectlifecycle.Name }}
        </a>
    </div>
</div> -->
