<div class="modal-header">
   <h2>RT PLC NOTIFICATION</h2>
</div>
<!-- <form name="notificationForm" novalidate role="form" enctype="multipart/form-data" data-ng-submit="submitFormNotfication(this)" method="post"> -->
    <form name="notificationForm" novalidate role="form" enctype="multipart/form-data">
    <div class="modal-body">
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"> <label for="date">BHU / IHU #* :</label></div>
        <div class="col-md-4"> <input type="text" autocomplete="off" data-ng-keypress="validateNumber($event)" ng-blur="bindrtSpoc(bhuId)" minlength="1" min="1" name="bhuId" class="form-control"  ng-model="bhuId" ng-readonly="bhuId && isBhuNotify" required> </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"> <label for="rt-spoc">RT SPOC* :</label></div>
        <div class="col-md-4">
        <select class="form-control" ng-model="selected" name="rt_spocs_selected" ng-options="S as S.label for S in rtspoc"  ng-disabled="!bhuId"  class="form-control" required>
                <option value="" selected ></option>                                     
                </select>
            </div>

        <!-- <div class="col-md-4"> <select type="text" autocomplete="off" name="rt_spocs_selected" ng-disabled="!bhuId" class="form-control" uib-typeahead="rt_spoc.name for rt_spoc in rt_spocs | filter:$viewValue | limitTo:10" ng-model="selected" required> </div> -->


        <div class="col-md-2"></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"> <label for="rt_recipients">RECIPIENTS* :</label></div>
        <div class="col-md-4"> <input type="text" autocomplete="off" name="rt_recipient" class="form-control"  ng-model="rt_recipients" name="rt_recipients" required title="Email should be comma seperated">
            <span style="font-size: 11px; color:#ccc;">(Email should be comma seperated)</span></div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group row">
    <div class="col-md-2"></div>
        <div class="col-md-4"> <label for="plc-phase">RT PLC PHASE* :</label></div>
        <div class="col-md-4">
           <select class="form-control" ng-model="plc_phase" name="plc_phase" ng-change="previewPhase(plc_phase)" ng-options="S as S.label for S in phase_selectables.selectables">
            <option value="selected" ></option>
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4"> <label>ATTACHMENTS :</label></div>
        <!-- <div class="col-md-5"><input type="file" demo-file-model="myFile"  class="form-control" name ="myFileField" /></div> -->
        <div class="col-md-4">
            <input type="file" ngf-select ng-model="picFile" name="file" class="form-control" accept="*/*" ngf-max-size="2MB"  ngf-model-invalid="errorFile">
            <!-- <button ng-click="picFile = null" ng-show="picFile">Remove</button> -->
            <i class="glyphicon glyphicon-remove" ng-click="picFile = null" ng-show="picFile"></i>
        </div>
        <i ng-show="myForm.file.$error.required">*required</i><br>
        <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2MB</i>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
        <div class="col-md-1"></div>
    </div>

    <div class="form-group row" ng-if="plc_phase">
        <div class="col-md-2"></div>
        <div class="col-md-4">  <label>CONTENT* :</label></div>
        <div class="col-md-4" ng-show="false">
                <textarea name="content" class="form-control plc-form-textarea" ng-model="content" id="hiddenPLCPhase" required></textarea>
            <!-- <textarea name="content" class="form-control plc-form-textarea" ng-model="content" required placeholder="Enter Content"></textarea>
             -->
            </div>
        <div class="col-md-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-md-2"></div>
        <div id="summernoteParent" class="col-md-8"><div id="summernote"></div></div>
        <div class="col-md-2"></div>
    </div>
               
    </div>
    <div class="form-group row" ng-if="plc_phase">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <img ng-src='{{phase_preview}}' ng-model="phase_preview" name="preview" width="400px" height="250px"/>
		</div>
        <div class="col-md-2"></div>
	</div>
    <div class="modal-footer row">
        <div class="col-md-4 text-center">
            <button class="btn btn-primary" ng-click="submitFormNotfication(picFile)" ng-disabled="notificationForm.$invalid">SEND EMAIL</button>
        </div>
        <div class="col-md-4 text-center">
            <button type="reset" class="btn btn-primary" ng-click="clearImageSource()" ng-disabled="form.userForm.$invalid">RESET</button>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-warning" ng-click="cancel()">CANCEL</button>
        </div>
    </div>
</form>
